body{
    background: #f0f3f5;
}

.position{
    z-index:3;
    position: fixed;
    width: 100%;
}

.main{
    width: 68%;
    margin-right: 15%;
    float: right;
}

.navbar{
    border-bottom: 1px solid gainsboro;
    padding: 0px;
}

aside{
    z-index:4;
    position: fixed;
    width: 18%;
    height: 80%;
    background: white;
    border-bottom: 5px solid gainsboro;
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 90px;
}

aside ul{
    list-style-type: none;
    margin-left: -40px;
}

aside ul li{
    padding: 22px; 
    font-size: 16px;
}

aside ul li:hover{
	
    background: rgba(0,0,0,.03);
}

aside ul li a{
    color: black;
}

aside ul li a:hover{
    color: black;
}

.card-header{
    background: white;
    color: #57b2f8;
    font-size: 15px;
}

.card{
    border: 0px solid white;
    border-bottom: 5px solid gainsboro;
    border-radius: 20px;
}